
/*Global ----------------------------*/
* {
  margin: 0px;
  padding: 0px; }

p {
  margin: 0rem;
  text-decoration: none; }

body {
  font-style: normal;
  background: #f3f3f3; }

h3 {
  font-size: 20px; }

li {
  list-style: none; }

a {
  text-decoration: none; }


/* HEADER -----------------------------*/

.containerHeader{
  background-image: linear-gradient(#010449, #05479D);
}
.containerTop {
  width: 100%;
  float: right;
  
  align-items: center; }

.containerTop__Nav {
  margin-top: 5px;
  align-items: center;
  display: flex;
  justify-content: flex-end;

}

.nav-link--img{
  width: 100%;
  max-height: 20px;
  object-fit: contain;

}
.btn-menu--size{
  width: 100%;
  max-height: 23px;
}


.btn-primary--cfg{
  background-color: inherit;

}

.offcanvas-end{
  width: 50%;
}

.offcanvas--back{
  background-image: linear-gradient(#010449, #05479D);
}

.offcanvas-header{
  color:#fff;
  border-bottom: 1px solid #fff;
}

.menuResponsive{
  display: none;
}

.pad-0{
  padding-left: 0;
}
  .containerTop__Nav ul li {
    display: inline-block; }
    .containerTop__Nav ul li a {
      color: white;
      display: block;
      transition: all 0.4s linear;
      text-decoration: none;
      border-radius: 5px; }
    .containerTop__Nav ul li a:hover {
      background: #4a4a4a; }
  .containerTop__Nav img {
    width: 23px;
    height: 23px; }

.containerTop__ListNavLeft {
  float: left;
  list-style: none;
  padding: 10px; }

.containerBot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  }
  .containerBot ul li {
    display: inline-block;
    list-style: none;
    padding: 10px; }
    .containerBot ul li a {
      color: white;
      display: block;
      text-decoration: none;
      transition: all 0.4s linear;
      border-radius: 5px; }
    .containerBot ul li a:hover {
      background: #4a4a4a; }

.containerBot__Logo {
 
  margin-top: -1rem;
  margin-bottom: 2rem;
  width: 200px;
  height: 80px;
  transition: all 0.4s linear;
  border-radius: 5px; }

.containerBot__Logo:hover {
  transform: scale(1.1, 1.1); 
   }

.containerBot__Search {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black; }
  .containerBot__Search img {
    width: 23px;
    height: 23px; }

.search__Input {
  width: 50rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px; }

.search__InputBtn {
  height: 2.5rem;
  border: none;
  background: none;
  margin-left: -40px;
  cursor: pointer; }

.containerBot__ContainerIconos {
  
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .containerBot__ContainerIconos a {
    color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.4s linear;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px;
    align-items: center;
    }
  .containerBot__ContainerIconos a:hover {
    transform: scale(1.2, 1.2);
    color: white;  }
  .containerBot__ContainerIconos--btn button {
    background: none;
    border: none;
    display: block;
    transition: all 0.4s linear;
    border-radius: 5px;
    padding: 20px; }
    .containerBot__ContainerIconos--btn button:hover {
    transform: scale(1.2, 1.2);  }
    .containerBot__ContainerIconos img {
    width: 40px;
    height: 40px; }
    .containerBot__ContainerIconos--btn  p{
      color: white;
    }
.modalCarrito{
  width: 20%  !important; 
  background-image: linear-gradient(#010449, #05479D);
} 
.modalCarrito--Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.modalCarrito--Header h5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modalCarrito--Header p {
  font-size: 20px;
  margin-left: 10px;
}
.modalCarrito--body{
  display: grid;
  grid-template-areas: "productos"
 "total";
  grid-template-columns: 1fr;
  grid-template-rows: 91% 9% }
  .modalCarrito--body_Productos{
    grid: "productos";
    overflow: scroll;
    overflow-x: hidden;
  }
  .modalCarrito--body_Productos::-webkit-scrollbar{
    width: 7px;
  }
  .modalCarrito--body_Productos::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 5px;
  }
  .modalCarrito--body_Total{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: white;
    border:  3px solid black ;
  }
  .modalCarrito--body_Total h3{
    font-size: 2rem;
    color: black;
  }
  .modalCarrito--body_Total button{
    width: auto;
    height: auto;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; 
    cursor: pointer;
    border: none;
    outline: none;
    background-color:#05479D;
    padding: 10px 10px 10px 10px;
  }
  .modalCarrito--body_Total button:hover{
    transform: scale(1.1, 1.1);
    background: greenyellow;
  }  

  /* ventana emergente log in */
  #modal-body--input {
    margin-bottom: 0.5rem; }
    #modal-body--input input {
      width: 100%;
      margin-bottom: 0.5rem; }
  
  .modal-body--button {
    margin-top: 1rem;
    text-align: center; }
    .modal-body--button input {
      width: 50%;
      height: 2.5rem;
      background-color: #0c487a;
      border: none;
      border-radius: 5px;
      color: #fff; }
      .modal-body--button input:hover{
        background-color: #2983BC;
      }
  .backgroundRegistrarse{
    background-color: #2983BC;
  }
  .backgroundRegistrarse:hover{
    background-color: greenyellow;
    color:white;
    border: 1px solid greenyellow;
  }    
  .backgroundFacebook{
    background-color: #3b5998;
  }
  .backgroundFacebook:hover{
    background-color: #f8e2e2;
    color:#3b5998;
    border: 1px solid #3b5998;
  }
  .backgroundGoogle{
    background-color: #db4a39;
  }
  .backgroundGoogle:hover{
    background-color: #f8e2e2;
    color:#db4a39;
    border: 1px solid #db4a39;
  }
  .modal-footer {
    display: flex;
    flex-direction: column; }
    .modal-footer input {
      width: 70%;
      height: 3rem;
      margin-bottom: 0.5rem;
      border: none;
      border-radius: 5px;
      color: #fff; }
  .modal-header{
    background-image: url(background/fondoHeadLogIn.jpg);
    border: 1px solid black;
    color:white;}   
  .btn-close{
    background-image: url(background/close.png);
  }
  .containerAddCart{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    
    align-items: center;
  }
  .countItems{
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    align-items: center;
    
  }
  .countItems button{
    width: 2rem;
  }
  .countItems p{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }    
  .containerCarruselProd--List_card {
    height: 351px;
    width: 338px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #CCC; }
  .containerCarruselProd--List_card img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  padding-top: 0.5rem;
  margin-bottom: 0px; }
  .containerCarruselProd--List_card h4 {
  padding: 12px 12px 0px 12px;
  font-weight: 500;
  font-size: 16px;
  color: black;
  margin-bottom: 20px; }
  .containerCarruselProd--List_card div button {
    width: 90px;
    height: 35px;
    font-size: 20px;
    color: white;
    margin-top: -5px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; 
    cursor: pointer;
    border: none;
    outline: none;
    background-color:#05479D;}
  .containerCarruselProd--List_card div button:hover {
    transform: scale(1.1, 1.1);
    background: #2983BC; }  
    .card__info-button{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    } 
    .card__info{
      background-color: #05479D;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151;
      cursor: pointer;
      border: none;
      outline: none;
      padding: 5px;
      margin-bottom: 10px;
    }
    .containerDetail{
      margin-top: 8rem;
      display: grid;
      grid-template-areas: "img info";
      grid-template-columns: repeat(2,1fr);
      column-gap: 20px;
      grid-template-rows: auto auto; 
    }
    .containerDetail_Imagenes{
      grid-area: img;
    }
    .containerDetail_Info{
      grid-area: info;
    } 
    .containerBot__ContainerMenu {
      width: 100%;
      background-color: #EEEEEE;
      align-items: center;
      display: inline-block;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      position: relative; }          
    .containerBot__ContainerMenu ul {
      display: flex;
      margin-bottom: 0;
      justify-content: space-between;
       }
      .containerBot__ContainerMenu ul li {
        display: inline-block;
        list-style: none;
        padding: 10px; }
        .containerBot__ContainerMenu ul li a {
          color: #424143;
          display: block;
          transition: all 0.4s linear;
          border-radius: 5px; 
          text-decoration: none;}
        .containerBot__ContainerMenu ul li a:hover {
          background: #a8a8a8; }
      .containerBot__ContainerMenu ul li:hover .containerSubMenu ul {
        visibility: visible;
        opacity: 1;
        z-index: 1; }
        .cardCarrito{
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 11.25%;
          align-items: center;
          border-radius: 5px;
          background-color: white;
          border: 1px solid #CCC; 
          margin-bottom: 10px;
        } 
        .cardCarrito img{
          height: 80%;
          width: 20%;
          margin-left: 10px;
          object-fit: contain;
        }
        .cardCarrito h3{
          padding: 12px 5px 0px 12px;
          font-weight: 500;
          width: 30rem;
          font-size: 14px;
          color: black;
        }
        .cardCarrito button{
          width: 90px;
          height: 35px;
          font-size: 20px;
          color: white;
          margin-top: -5px;
          margin-right: 15px;
          border-radius: 5px;
          box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; 
          cursor: pointer;
          border: none;
          outline: none;
          background-color:#05479D;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        } 
        .cardCarrito button:hover {
          transform: scale(1.1, 1.1);
          /*background: #2983BC;*/
          background: #db4a39; }
          .cardCarrito__info-Precio{
            background-color: #05479D;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151;
            cursor: pointer;
            border: none;
            outline: none;
            padding: 5px 5px 0px 5px;
          }
          .cardCarrito__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
          }
          .cardCarrito__info h4 {
            font-size: 17px;
          }
          .cardCarrito__info h5 {
            font-size: 16px;
          }
          .cardCarrito__info h6 {
            font-size: 15px;
          }                
          .presupuesto{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 11.25%;
            align-items: center;
            border-radius: 5px;
            background-color: white;
            border: 1px solid #CCC; 
            margin-bottom: 10px;
          } 
          .btnCarrito{
            display: flex;
            flex-direction: row;
          }
          .btnCarrito button {
            color: #fff;
            background: none;
            border: none;
            display: block;
            transition: all 0.4s linear;
            border-radius: 5px;
            padding: 20px; }
          .btnCarrito__contador{
            background: red;
            color: #fff;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .containerCuerpoCateg{
            display: flex;
            flex-direction: column;
          }
          .pagination{
            margin-top: 1rem;
            margin-right: 1rem;
            justify-content: end;
            padding: .275rem .55rem;
          }
          .containerCateg {
            display: grid;
            
            grid-template-areas: "ord ord"
           "navv prod"
           "otro prod";
            grid-template-columns: auto 1fr;
            column-gap: 20px;
            grid-template-rows: 100px auto auto; }
          
          .containerEncabezado {
            grid-area: ord;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; }
          
          
          
          .containerListCateg {
            grid-area: navv;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            border-radius: 5px;
            background: #c4c3c3;
             }
            .containerListCateg ul {
              width: 100%; }
              .containerListCateg ul li {
                margin-left: -2rem;
                border-bottom: 1px solid black; }
                .containerListCateg ul li a {
                  display: block;
                  text-decoration: none;
                  color: #424143;
                  padding: 15px; }
              .containerListCateg ul li:hover {
                background: #a8a8a8; }
          
          #seleccionadoLi {
            color: white; }
          
          .containerProdCateg {
            grid-area: prod;
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;
            justify-content: space-around;
            grid-gap:20px }
            .containerProdCateg article {
              background: white;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              border-radius: 5px;
              border: 1px solid #ccc; }
              .containerProdCateg article h4 {
                padding: 12px 12px 0px 12px;
                font-weight: 500;
                font-size: 16px;
                color: black;
                margin-bottom: 20px; }
              .containerProdCateg article img {
                max-height: 190px;
                width: 100%;
                object-fit: contain;
                margin-top: 0.5rem; }
              .containerProdCateg article div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 0px; }
                .containerProdCateg article div h5 {
                  background-color: #0c487a;
                  margin-left: -1px;
                  padding: 5px 16px;
                  margin-top: 0px;
                  font-size: 20px;
                  color: white;
                  border-radius: 0px 7px 7px 0px; }
                .containerProdCateg article div button {
                  width: 90px;
                  height: 35px;
                  font-size: 20px;
                  margin-top: -5px;
                  margin-right: 1rem;
                  cursor: pointer;
                  border: none;
                  background-color: #0c487a;
                  border-color: #2983BC;
                  border-radius: 5px;
                  color: #fff; }
                .containerProdCateg article div button:hover {
                  background: #2983BC;
                  transform: scale(1.1, 1.1);  }
                  .btnListCateg{
                    display: none;
                  }   
          .bannerArmarPc {
            width: 100%;
            max-height: 30rem; }
          
          .containerArmarPC {
            display: grid;
            grid-template-areas: "otrooa proda"
           "nava proda"
           "otroa proda";
            grid-template-columns: auto 1fr;
            grid-column-gap: 1rem;
            grid-template-rows: 100px auto auto; }
          
          .containerArmadoPc {
            grid-area: proda;
            display: flex;
            flex-direction: column; }
          
          .containerPresupuesto {
            display: flex;
            flex-direction: column;
            margin-top: -4rem;
            position: relative;
            height: 100%;
            width: 65%;
            background: white;
            border-radius: 5px 5px 0px 0px;
            box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; }
            .containerPresupuesto input {
              height: 3rem;
              width: 100%;
              cursor: pointer;
              border: none;
              outline: none;
              background-color: #2983BC;
              border-color: #2983BC;
              border-radius: 5px;
              color: #fff;
              /*box-shadow: 0 2px 2px 0 rgb(87, 81, 81), 0 3px 1px -2px rgb(87, 81, 81), 0 1px 5px 0 rgb(87, 81, 81);
              */ }
            .containerPresupuesto input:hover {
              background: #a8a8a8; }
          
          .containerPresupuesto__Top {
            height: 60%;
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            color: black; }
          
          .containerPresupuesto__Top--Subtotal {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%; }
            .containerPresupuesto__Top--Subtotal img {
              width: 100%;
              max-height: 120px;
              object-fit: contain;
             }
             .Subtotal{
              margin-left: -7.5rem;
             }
          
          .containerPresupuesto__Mid {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            color: black;
            margin-bottom: 2rem;
            height: 40%;
            width: 100%; }
            .containerPresupuesto__Mid label {
              font-size: 1.2rem; }
          
          .containerPresupuesto__Mid--Progreso {
            display: flex;
            flex-direction: column;
            text-align: center; }
            .containerPresupuesto__Mid--Progreso progress {
              height: 2rem;
              width: 100%; }
          
          .containerPresupuesto__Mid--Componente {
            display: flex;
            align-items: center;
            height: 100%; }
            .containerPresupuesto__Mid--Componente img {
              width: 100%;
              object-fit: contain;
              max-height: 50px;
             }
            .containerPresupuesto__Mid--Componente h4 {
              font-size: 1rem;
              margin-left: -7.5rem;
              margin-right: 1rem; }
          
          .containerCuerpoArmar {
            display: flex;
            flex-direction: column;
             }
          
          .containerOrdenarArmar {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 2rem; }
            .containerOrdenarArmar label {
              margin-right: 1rem; }
            .containerOrdenarArmar select {
              margin-right: 2.5rem; }
          
          .containerProdArmar {
            margin-top: 2rem;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-gap:20px;
             }
            .containerProdArmar article {
              background: white;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              border-radius: 5px;
              border: 1px solid #ccc; }
              .containerProdArmar article h4 {
                padding: 12px 12px 0px 12px;
                font-weight: 500;
                font-size: 16px;
                color: black;
                margin-bottom: 20px; }
              .containerProdArmar article img {
                max-height: 190px;
                width: 100%;
                object-fit:contain;
                margin-top: 0.5rem;
               }
              .containerProdArmar article div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 0px; }
                .containerProdArmar article div h5 {
                  background-color: #0c487a;
                  margin-left: -1px;
                  padding: 5px 16px;
                  margin-top: 0px;
                  font-size: 20px;
                  color: white;
                  border-radius: 0px 7px 7px 0px; }
                .containerProdArmar article div button {
                  width: 60px;
                  height: 35px;
                  font-size: 25px;
                  margin-top: -5px;
                  margin-right: 1rem;
                  cursor: pointer;
                  border: none;
                  background-color: #0c487a;
                  border-color: #2983BC;
                  border-radius: 5px;
                  color: #fff; }
                .containerProdArmar article div button:hover {
                  background: #2983BC; 
                  transform: scale(1.1, 1.1); }
          
          .containerListComponentes {
            grid-area: nava;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            border-radius: 5px;
            background: #c4c3c3;
            ; }
            .containerListComponentes ul {
              width: 100%; }
              .containerListComponentes ul li {
                margin-left: -2rem;
                border-bottom: 1px solid black; }
                .containerListComponentes ul li a {
                  display: block;
                  text-decoration: none;
                  color: #424143;
                  padding: 15px; }
              .containerListComponentes ul li:hover {
                background: #a8a8a8; }
          
          .containerArmarPC img {
            height: 190px;
            width: 190px;
            margin-top: 2rem; }
            .carousel-item img {
              max-height: 600px; }
            
            .containerTituloFav {
              margin-top: 3rem; }
            
            .containerFav {
              background: white;
              
              display: flex;
              flex-direction: column;
              box-shadow: 0px 1px 1px 0px #666464;
              box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; }
              .containerFav article {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;
                border-bottom: 1px solid #666464;
                align-items: center;
                color: black;
                font-style: inherit; }
                .containerFav article button {
                  height: auto;
                  width: 14px;
                  margin-right: -0.3rem;
                  cursor: pointer;
                  border: none;
                  outline: none;
                  background: none;
                  background-color: none;
                  border-color: none;
                  border-radius: 5px;
                  color: #fff;
                  /*box-shadow: 0 2px 2px 0 rgb(87, 81, 81), 0 3px 1px -2px rgb(87, 81, 81), 0 1px 5px 0 rgb(87, 81, 81);
                        */ }
                  .containerFav article button img {
                    height: 36px;
                    width: 36px;
                    margin-left: -11px;
                    margin-top: -2px; }
                .containerFav article input {
                  margin-right: 0.5rem;
                  cursor: pointer;
                  border: none;
                  outline: none;
                  background-color: #2983BC;
                  border-color: #2983BC;
                  border-radius: 5px;
                  color: #fff;
                  padding: 5px;
                  /*box-shadow: 0 2px 2px 0 rgb(87, 81, 81), 0 3px 1px -2px rgb(87, 81, 81), 0 1px 5px 0 rgb(87, 81, 81);
                    */ }
                .containerFav article input:hover {
                  background: #a8a8a8;
                  transform: scale(1.1, 1.1); }
            
            #containerFav--detalle {
              display: flex;
              flex-direction: row;
              height: 10rem;
              align-items: center; }
              #containerFav--detalle h4 {
                font-size: 22px; }
              #containerFav--detalle h5 {
                font-size: 20px;
                padding: 5px 0px 5px 5px;
                background-color: #2983BC;
                border-color: #2983BC;
                border-radius: 5px;
                color: #fff;
                width: 6.5rem; }
              #containerFav--detalle img {
                max-height: 120px;
                width: 100%;
                object-fit: contain;
                margin-right: 1rem; }
            
            #containerFav--check {
              width: 16px;
              height: 16px;
              margin-left: 1rem;
              margin-right: 1rem;
              box-shadow: none; }
            
            #containerFav--Eliminar {
              height: 4rem; }
              .containerBanner {
                width: 100%; }
                .containerBanner img {
                  width: 100%; }
              
              .containerBanners {
                margin-top: 5rem;
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 20px;
                justify-items: center;
              
                 }
                .containerBanners article {
                  border: 2px solid black;
                  border-radius: 5px;
                  max-height: 15rem;
                  object-fit: contain;
                  max-width: 15rem;
                  overflow: hidden; }
                  .containerBanners article img {
                    height: 100%;
                    width: 100%; }
                  .containerBanners article img:hover {
                    transform: scale(1.2, 1.2); }
                .containerBanners div {
                  height: 100%;
                  width: 100%;
                  overflow: hidden; }
                .containerBanners h3 {
                  position: absolute;
                  background: #2983BC;;
                  color: white;
                  margin-top: -20px;
                  margin-left: -10px;
                  padding: 5px; }
                .containerSecciones {
                  display: block;
                  margin-top: 4rem;
                  padding-bottom: 2rem;
                  }
                  .containerSecciones h2 {
                    text-align: center;
                    font-size: 30px;
                    font-style: inherit;
                    padding: 5px; }
                  .containerSecciones--Content {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 1rem; 
                    gap: 0.5rem 3.5rem;
                    } 
                  .containerCarruselProd{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    max-width: 70rem;
                    overflow: hidden;
                    color: var(--negro);
                    transition: all 0.4s ease;
                    background-color: var(--blanco);
                    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
                    
                    
                  }
                  .containerCarruselProd--List{
                    width: 300%;
                    height: 100%;
                    margin-left: -100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    color: var(--negro);
                    border-radius: 1em;
                    background-color: var(--blanco);
                    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
                    /*transition: all 0.5s ease;*/
                    
                  }
                  .containerCarruselProd--List_Section{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    /*gap: 2rem;*/
                    justify-content: space-between;
                    flex-flow: row nowrap;
                    align-items: center;
                    padding: 1rem;
                    
                  }
                  .animacionCarrusel{
                    animation: cambio 20s infinite;
                  }
                
                  @keyframes cambio{
                    0% {margin-left: 0;}
                    20%{ margin-left: 0; }
                
                
                    25% { margin-left: -100%; }
                    45% { margin-left: -100%; }
                
                    50% { margin-left: -200%; }
                    70% { margin-left: -200%; }
                
                
                
                    75% { margin-right: 100%; }
                    100% { margin-right: 200%; }
                
                  }
                
                
              /*.containerSecciones div section {
              display: grid;
              width: 90%;
              grid-template-columns: repeat(3,1fr);
              grid-gap: 20px; }*/
              .containerCarruselProd--List_card {
                height: 351px;
                width: 338px;
                background: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                border: 1px solid #CCC; }
              .containerCarruselProd--List_card img {
              max-height: 200px;
              width: 100%;
              object-fit: contain;
              padding-top: 0.5rem;
              margin-bottom: 0px; }
              .containerCarruselProd--List_card h4 {
              padding: 12px 12px 0px 12px;
              font-weight: 500;
              font-size: 16px;
              color: black;
              margin-bottom: 20px; }
              /* .containerCarruselProd--List_card div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              margin-top: 0px; } */
              /* .containerCarruselProd--List_card div h5 {
                background-color: #0c487a;
                margin-left: -1px;
                padding: 5px 16px;
                margin-top: 0px;
                font-size: 20px;
                color: white;
                border-radius: 0px 7px 7px 0px; } */
              .containerCarruselProd--List_card div button {
                width: 90px;
                height: 35px;
                font-size: 20px;
                color: white;
                margin-top: -5px;
                margin-right: 15px;
                border-radius: 5px;
                box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; 
                cursor: pointer;
                border: none;
                outline: none;
                background-color:#05479D;}
              .containerCarruselProd--List_card div button:hover {
                transform: scale(1.1, 1.1);
                background: #2983BC; }
              .btnCarrusel button{
                height: 60px;
                width: 45px;
                cursor: pointer;
                border: none;
                outline: none;
                background-color:  #05479D;
                border-color: #2983BC;
                border-radius: 5px;
                box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; }
                .btnCarrusel button img {
                  align-items: center;
                  justify-items: center;
                  height: 27px;
                  width: 27px; }
              .btnCarrusel button:hover {
                transform: scale(1.1, 1.1);
                background: #2983BC; }
              .containerCart_Titulo{
                margin-top: 2rem;
                margin-bottom: 2rem;
              }  
              .containerCart{
                display: flex;
                flex-direction: row;
              }
              .containerCart_carrito{
                width: 60%;
              }
              .cardCarritoWindow{
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                border-radius: 5px;
                background-color: white;
                border: 1px solid #CCC; 
                margin-bottom: 10px;
              } 
              .cardCarritoWindow img{
                height: 80%;
                width: 20%;
                margin-left: 10px;
                object-fit: contain;
              }
              .cardCarritoWindow h3{
                padding: 12px 5px 0px 12px;
                font-weight: 500;
                width: 30rem;
                font-size: 14px;
                color: black;
              }
              .cardCarritoWindow button{
                width: 90px;
                height: 35px;
                font-size: 20px;
                color: white;
                margin-top: -5px;
                margin-right: 15px;
                border-radius: 5px;
                box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151; 
                cursor: pointer;
                border: none;
                outline: none;
                background-color:#05479D;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
              } 
              .cardCarritoWindow button:hover {
                transform: scale(1.1, 1.1);
                background: #db4a39; }
                .cardCarritoWindow__info-Precio{
                  background-color: #05479D;
                  color: #fff;
                  border-radius: 5px;
                  box-shadow: 0 2px 2px 0 #575151, 0 3px 1px -2px #575151, 0 1px 5px 0 #575151;
                  cursor: pointer;
                  border: none;
                  outline: none;
                  padding: 5px 5px 0px 5px;
                }
                .cardCarritoWindow__info{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 100%;
                  
                }
                .cardCarritoWindow__info h4 {
                  font-size: 17px;
                }
                .cardCarritoWindow__info h5 {
                  font-size: 16px;
                }
                .cardCarritoWindow__info h6 {
                  font-size: 15px;
                }
